img {
   max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

img.cat {
float:left;
left:0;
height:80px;
width:80px;
}
p, h1, h2, h3 {
	color: #0a0f0f;
	font-family:"Courier New", monospace;
}
* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
}
	
	
	
	header {
	background-color:#c2d6d6;
	text-align: center;
	padding:0px;
	height:100px;
	}
	nav {
	float:left;
	background-color:#c2d6d6;
	width:20%;
	height:auto;
	display:inline;
	}
	
	article {
	float:left;
	background-color:#94b8b8;
	padding:10px;
	width:60%;
	height:100%;
	border-radius:10px 10px 0 0;
	}
	aside{
	float:right;
	background-color:#c2d6d6;
	padding:10px;
	width:20%;
	height:2280px;
	}
	section:after{
	content:"";
	display:table;
	clear:both;
	}
	
	
	footer {
	font-size:12px;
	text-align:center;
	background:#476b6b;
	padding:10px;
	width:100%;

	}
	

@media (max-width: 600px) {
nav, article, aside {
width:100%;
height:auto;
}
}


/*--------------*/
div.hiddenblok {
display: none;
position:fixed;
background-color:#669999;
width:200px;
left:0;
bottom:50px;
border-radius:0px 20px 20px 0px;
border:1px solid #5c8a8a;
height:60px;
}
div.hiddenblok img{
	float:left;
	padding-top:3px;
	
}

.dropbtn{
border:1px solid #5c8a8a;
position:fixed;
background-color:#669999;
width:15px;
height:60px;
left:0;
bottom:50px;
border-radius:0px 20px 20px 0px;
}

.dropright {
  position: relative;
  display: inline-block;
}

.dropright:hover .hiddenblok {
  display: block;
}
p.blok {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:12px;

}


/*--------*/

nav ul { 
  list-style-type:none;
  background-color:#c2d6d6;
  display:block;
  width:100%;
  text-align:center;
  
	} 
nav li {
 background-color:#5c8a8a;
 border: 5px solid #c2d6d6;
 padding-top:12px;
 height:50px;
 font-size:15px;
 border-radius:10px;
}
nav p {
cursor: pointer;
}
nav a {
	 text-decoration: none;
}
nav li:hover {
 background-color:#b3cccc;
 }
	
/*--------*/


button.above1 {
	position:fixed;
background-color:#669999;
width:20px;
height:20px;
right:10px;
bottom:20px;	
border:none;
border-radius:25px;
}

.above1:hover {
	cursor: pointer;
	 background-color:#00b3b3;	
}


/*--------*/
label {
	margin-left:15%;
}

input[type=E-mail], [type=password]{
	background-color:#d1e0e0;
	width:70%;
	margin: 2% 15%;
	height:25px;
	border-radius: 10px;
	border: 2px solid  #006666;
	outline:none;
	padding:5px;
	}
input[type=E-mail]:focus, [type=password]:focus{ 
background-color: #c6e6bd;
}
/*
input[type=E-mail]:valid, [type=password]:valid{ 
background-color: #c7fafa ;
}
*/
input[type=E-mail]:invalid, [type=password]:invalid{ 
background-color:#dca8a8;
}
input[type=submit]{
	background-color:#c2d6d6;
	width:auto;
	height:30px;
	border: none;
	outline:none;
	padding:5px;
	
	}
input[type=submit]:hover {
	cursor: pointer; 
background-color:#82b5b5;
border-radius: 7px;
}
label {
	font-size:14px;
}

.form1 {
	position:sticky;
	top:10px;
	right:0;
	border:2px solid  #3d9999;
	border-radius:10px;
	padding:3px;
	
}

/*-------*/


button.but1{
		background-color:#a6d6cd;
	width:auto;
	height:30px;
	border: none;
	outline:none;
	padding:5px;
	border-radius:10px;
}
button.but1:hover {cursor: pointer;  }

